:host {
    text-align: center;
}

input, select {
    border: 1px grey solid;
    padding: 3px;
    border-radius: 3px;
    margin: 10px;
}
b {
    color: #2196f3;
    margin: 20px;
    font-size: 26px;
}

.globe {
    padding-top: 100px;
    padding-right: 130px;
}


