header {
    background-color: #1c611c;
    padding: 15px;
   

}

a { 
    color: white;
    text-decoration: none;
    padding: 15px;  
    
}

a:hover{
    background-color: #0d4a1b;
}
.logo {
    max-width: 35px;
    position: relavtive; 
   
}
.container {
    margin: 0 auto;
}
